user_uuid="12cea468-228a-4cae-acdd-27100effef6f"
bucket_name="gzz6au155s3o4r9s0ypq36h0xu45wvye"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2