terratowns_endpoint="https://terratowns.cloud/api"
darkknight = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/darkknight"
  content_version = 2 
}
ninetiesmusic = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/ninetiesmusic"
  content_version = 1
}